extends common/layout

block content
  include common/header.pug
  main.main
    include includes/top-block.pug
    include includes/service.pug
    include includes/works.pug
    include includes/skills.pug

    