// Colors
$black: #000000;
$white: #ffffff;
$gray: #666666;
$main-color: #42b8dd;
$back-main-color: #ebebeb;
$title-color: #363636;
$back-article-color: #cccccc;
$article-text-color: #898989;

// Fonts
$main-font: "roboto regular", arial, helvetica, sans-serif;
$main-bold-font: "roboto bold", arial, helvetica, sans-serif;
$main-thin-font: "roboto thin", arial, helvetica, sans-serif;
$main-light-font: "roboto light", arial, helvetica, sans-serif;
$main-medium-font: "roboto medium", arial, helvetica, sans-serif;

// Media
$mobile-width: 320px;
$tablet-width: 680px;
$desktop-width: 1200px;
