.title {
  display: inline-block;
  width: min-content;
  margin: 0;
  padding-bottom: 18px;

  font-family: $main-bold-font;
  font-size: 60px;

  &--white {
    color: $white;
    border-bottom: 8px solid $white;
  }

  &--black {
    color: $title-color;
    border-bottom: 8px solid $title-color;
  }
}
