.top-block {
    width: 100%;

    &__wrap {
        display: flex;
        align-items: center;
        height: calc(100vh - 75px);
        padding: 0 30px;

        @media (min-width: $tablet-width) {
            padding: 0 50px;
        }
    
        @media (min-width: $desktop-width) {
            padding: 0 150px;
        }
    }

    &__title {
        margin: 0;
        font-family: $main-thin-font;
        color: $white;
        font-size: 60px;
    }
}
