section.service
  .service__wrap.wrapper
    .service__block
      h2.title.title--white.service__title Мои услуги.
    .service__block
      ul.service__list
        li.service__item.service__item--front
          h3.service__header Вёрстка макета
          p.service__text
            | По готовым макетам верстаю страницы по условиям -
            | Pixel Perfect, кроссбразуерность, семантичная вёрстка.
        li.service__item.service__item--frameworks
          h3.service__header Разработка под фреймворки
          p.service__text
            | Разрабатываю простые SPA приложения с использованием библиотек
            | React и Vue.
        li.service__item.service__item--fullstack
          h3.service__header Разработка простых fullstack приложений
          p.service__text
            | Помимо работы с frontend-фреймворками занимаюсь разработкой fullstack-приложений
            | с использованием на бэкенде стека технологий - Node, Express, MongoDB, PostgresSQL.
        li.service__item.service__item--utils
          h3.service__header Дополнительные инструменты в разработке
          p.service__text
            | Уделяю внимание тестированию (Jest, Mocha), типизации (Typescript), работа с 
            | асинхронными запросами (axios, redux-saga).
