section.skills
    .skills__wrap
        h2.title.skills__title Мои навыки
        .skills__block
            .skills__content
                ul.skills__graph-list
                    li.skills__graph-item
                        img.skills__graph(src="./img/icons/skills-icon.png", alt="График скиллов")
                    li.skills__graph-item
                        img.skills__graph(src="./img/icons/skills-icon.png", alt="График скиллов")
                    li.skills__graph-item
                        img.skills__graph(src="./img/icons/skills-icon.png", alt="График скиллов")
                    li.skills__graph-item
                        img.skills__graph(src="./img/icons/skills-icon.png", alt="График скиллов")
            .skills__aside