section.skills
    .skills__wrap.wrapper
        h2.title.title--black.skills__title Мои навыки.
        .skills__block
            .skills__content
                ul.skills__graph-list
                    li.skills__graph-item
                        img.skills__graph(src="./img/icons/skills-icon.png", alt="График скиллов")
                    li.skills__graph-item
                        img.skills__graph(src="./img/icons/skills-icon.png", alt="График скиллов")
                    li.skills__graph-item
                        img.skills__graph(src="./img/icons/skills-icon.png", alt="График скиллов")
                    li.skills__graph-item
                        img.skills__graph(src="./img/icons/skills-icon.png", alt="График скиллов")
                .skills__text-block
                    h3.skills__header Знание HTML и CSS
                    p.skills__text
                        | Уровень практических знаний по html и css базируется на знаниях по курсам
                        | HTML Academy, вёрстки нескольник макетов для себя (pet-проектов), а также 
                        | вёрстки макетов для внутренних проектов компании.
            .skills__aside
                .skills__accordeon.accordeon
                    ul.accordeon__list
                        li.accordeon__item.accordeon__item--active
                            button.accordeon__tabs
                                span.accordeon__tabs-title Глубокое погружение в React
                            .accordeon__tabs-content
                                p.accordeon__tabs-text 
                                    | React, redux (flux), redus-thunk, redux-saga, reselect, prop-types
                                    | create-react-app, webpack (с React), Jest + React, Typescript + React
                        li.accordeon__item
                            button.accordeon__tabs
                                span.accordeon__tabs-title Глубокое погружение в React
                            .accordeon__tabs-content 
                                p.accordeon__tabs-text 
                                    | React, redux (flux), redus-thunk, redux-saga, reselect, prop-types
                                    | create-react-app, webpack (с React), Jest + React, Typescript + React
                        li.accordeon__item
                            button.accordeon__tabs
                                span.accordeon__tabs-title Глубокое погружение в React
                            .accordeon__tabs-content 
                                p.accordeon__tabs-text 
                                    | React, redux (flux), redus-thunk, redux-saga, reselect, prop-types
                                    | create-react-app, webpack (с React), Jest + React, Typescript + React
                        li.accordeon__item
                            button.accordeon__tabs
                                span.accordeon__tabs-title Глубокое погружение в React
                            .accordeon__tabs-content 
                                p.accordeon__tabs-text 
                                    | React, redux (flux), redus-thunk, redux-saga, reselect, prop-types
                                    | create-react-app, webpack (с React), Jest + React, Typescript + React
                        li.accordeon__item
                            button.accordeon__tabs
                                span.accordeon__tabs-title Глубокое погружение в React
                            .accordeon__tabs-content 
                                p.accordeon__tabs-text 
                                    | React, redux (flux), redus-thunk, redux-saga, reselect, prop-types
                                    | create-react-app, webpack (с React), Jest + React, Typescript + React
